@import './variables';

.nav {
  position: absolute;
  top: 0;
  padding: 15px;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  .logo-div {
    background-color: $dark-yellow;
    width: 190px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .logo-part1 {
      position: absolute;
      top: 20px;
      left: 8px;
      font-family: 'Luckiest Guy', cursive;
      font-size: 45px;
      color: $black;
      transition: 0.3s ease-in;
    }
    .logo-part2 {
      position: absolute;
      color: $white;
      top: 20px;
      right: 8px;
      font-family: 'Luckiest Guy', cursive;
      font-size: 45px;
      transition: 0.3s ease-in;
    }
    &:hover {
      .logo-part1 {
        color: $white;
      }
      .logo-part2 {
        color: $black;
      }
    }
  }
  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 4px;
    .nav-button {
      border: 1px solid white;
      padding: 10px;
      height: 60px;
      width: 100px;
      font-size: 20px;
      color: white;
      cursor: pointer;
      background: $black;
      transition: 0.3s ease-in;
      &:hover {
        border: none;
        background: $yellow;
        color: $dark-gray;
      }
    }
  }
  .display-name {
    font-size: 25px;
    margin-right: 20px;
    color: $white;
    text-transform: capitalize;
  }
}
